{% extends "base.html" %}
{% block body %}
<div id="content" class="span10">
	<!-- content starts -->
<div>
	<ul class="breadcrumb">
		<li>
		<a href="">Home</a><span class="divider">/</span>
		</li>
		<li>
			<a href="admin/wx/jobs.htm">职位管理</a>
		</li>
	</ul>
</div>
	<div class="row-fluid sortable">		
		<div class="box span12">
			<div class="box-header well" data-original-title>
				<h2><i class="icon-book"></i> 职位信息</h2>
				<div class="box-icon">
					<a href="jobs.htm?method=list" class="btn btn-round"><i class="icon-arrow-left"></i></a>
				</div>
			</div>
			<div class="box-content">
				<strong>职位：</strong>{{ myvar.title }}</br>
				<strong>城市：</strong>{{ myvar.city }} </br>
				<strong>部门：</strong>{{ myvar.department }} </br>
				<strong>学历：</strong>{{myvar.education}}</br>
				<strong>工作职责：</strong></br>
				{{myvar.ability}}</br>
				<strong>工作经验：</strong></br>
				{{myvar.experience}}</br>
				<strong>推荐：</strong></br>
				<table class="table">
					<thead>
						<tr>
							<th>推荐员工</th>
							<th>简历链接</th>
						</tr>
					</thead>
					<tbody>
				{% for resume in myvar.resumes %}
				<tr>
					<td>
						{{resume.cfname}} {{resume.cname}}
					</td>
					<td>
						{{resume.resume}}
					</td>
				</tr>
				</tbody>
			</table>
				{% end %}
			</div>
		</div><!--/span-->
	</div><!--/row-->
</div><!--/#content.span10-->

		<hr>

<div class="modal hide fade" id="myModal" style="width:60%">
<div class="modal-header">
	<button type="button" class="close" data-dismiss="modal">×</button>
	<h3>添加职位</h3>
</div>
<form class="form-horizontal" method="post" action="../../admin/wx/jobs.htm?method=addJob">
	<div class="modal-body">
		<fieldset>
			<div class="control-group">
				<label class="control-label" for="typeahead">JOB TITLE 职位:</label>
				<div class="controls">
					<input type="text" id="title" name="title"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="typeahead">CITY 城市:</label>
				<div class="controls">
					<input type="text" id="city" name="city"/>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="typeahead">DEPARTMENT 部门:</label> 
				<div class="controls"> 
					<input type="text" id="department" name="department"/> 
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="typeahead">Accountabilities 工作职责:</label> 
				<div class="controls"> 
					<textarea class="cleditor" id="ability" name="ability" rows="3"></textarea>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="typeahead">Required Education 所需教育背景:</label> 
				<div class="controls"> 
					<input type="text" id="education" name="education"/> 
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="typeahead">Required Experience 所需工作经验/背景:</label> 
				<div class="controls"> 
					<textarea class="cleditor" id="experience" name="experience" rows="2"></textarea>
				</div>
			</div>
		</fieldset> 
	</div>
	<div class="modal-footer">
		<a href="#" class="btn" data-dismiss="modal">Close</a>
		<button type="submit" class="btn btn-primary">submit</button>
	</div>
</form> 
</div>

	{% end %}	
