<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Sticky Footer Template for Bootstrap</title>

    <!-- Bootstrap core CSS -->
	<link href="{{ static_url("bootstrap/css/bootstrap.min.css") }}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="sticky-footer.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="../../assets/js/html5shiv.js"></script>
      <script src="../../assets/js/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">

      <!-- Begin page content -->
      <div class="container">
        <div class="page-header">
          <h1>当创新理念成为传统风范</h1>
        </div>
        <p class="lead">勃林格殷格翰是目前世界上最大最成功的家族制药集团。自 1885年阿尔伯特* 勃林格先生 在德国中部莱茵河畔的殷格翰 创建至今,我们已经拥有128年的历史,并始终坚守"创新展现价值"这一核心理念来驱动公司的发展。</p>
        <p class="lead">我们始终致力于研发、制造及营销对人类和动物具有极高治疗价值的创新药品。履行企业社会责任是勃林格殷格翰公司企业文化的核心元素。公司积极参与社会公益项目,关爱员工和他们的家庭,为全球所有员工提供平等的机会。相互合作与尊重,环境保护与可持续发展始终贯穿勃林格殷格翰公司的所有工作中。</p>
		<p class="lead"><span style="color:blue">当创新理念遇见今日中国</span><br>作为最大的新兴市场国家,勃林格殷格翰对中国给予了格外的重视。自1994年正式进入中国市场以来,勃林格殷格翰不断加大在华投资,成立中国中心实验室,启动"中国项目",扩建工厂,建设动物疫苗生产基地和动 保研发中心......无论是中国庞 大的医疗需求还是我们的研发优势,都将为勃林格殷格翰(中 国)带来强劲发展动力。2012年,我们在中国市场销 售额实现了32%的增长率。随着中国市场地位的提升,勃林格殷格翰将全面加快在中国的战略布局,处方药、消费者自主保健、动物保健、生产运营 和生物制药这五大业务板块将 并驾齐驱,以进一步提高中国 患者的健康水平,改善其生活质量。勃林格殷格翰(中国)总部设 在上海,并在北京、广州、沈  阳、成都、南京、杭州等地设  立了分公司,拥有员工3000多名。通过在线平台joinBI.cn, 你将在线拜访上海办公室充满  人性关怀的工作环境。</p>
		<p class="lead"><span style="color:blue">当创新理念展现未来价值</span><br>通过人用药品,包括处方药和 自主保健品以及动物保健这些 核心业务领域的战略布局,勃 林格殷格翰(中国)将继续保</p>
      </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
  </body>
</html>
