<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>{{ escape(handler.settings["blog_title"]) }}</title>

    <!-- Framework CSS -->
    <link rel="stylesheet" href="{{ static_url("blueprint/screen.css") }}" type="text/css" media="screen, projection">
    <link rel="stylesheet" href="{{ static_url("blueprint/print.css") }}" type="text/css" media="print">
	<!-- highlight.js -->
	<link rel="stylesheet" href="{{ static_url("highlight.js/styles/github.css") }}" >
	<script src="{{ static_url("highlight.js/highlight.pack.js") }}" ></script>
	<script> hljs.initHighlightingOnLoad();</script>
	<script src="{{ static_url("showdown/showdown.js") }}" ></script>
    <!--[if lt IE 8]><link rel="stylesheet" href="{{ static_url("blueprint/ie.css") }}" type="text/css" media="screen, projection"><![endif]-->

    <!-- Import fancy-type plugin for the sample page. -->
    <link rel="stylesheet" href="{{ static_url("blueprint/plugins/fancy-type/screen.css") }}" type="text/css" media="screen, projection">
	<link rel="alternate" href="/feed" type="application/atom+xml" title="{{ escape(handler.settings["blog_title"]) }}"/>
	<link href="http://fonts.googleapis.com/css?family=Alice&subset=latin" rel="stylesheet" type="text/css">

</style>
  </head>
  <body style="font-family: 'Alice', sans-serif;">
    <div class="container">
	  <br />
	  <h1><a href="http://www.forgetwall.com">Forget Wall</a></h1>
      <hr>
      <hr class="space">
      <div class="span-17 colborder" id="content">
      {% block body %}{% end %}
       
      </div>
     <div class="span-6 last" id="sidebar">
        <h3 class="caps">Navigator</h3>
		 <div class="dashedbox"> 
        {% if current_user %}
            <a href="/compose">{{ _("New post") }}</a> -
            <a href="/auth/logout?next={{ url_escape(request.uri) }}">{{ _("Sign out") }}</a>
          {% else %}
            <a href="/auth/login">Sign in</a>
			<!--
			<br />
			<a href="/registe">registe</a>
			-->
          {% end %}
		</div>
      </div>
	<div class="span-6 last">
		<h3 class="caps">Recent</h3>
		<div class="dashedbox">
		</div>
	</div>
	<div class="span-6 last">
		<h3 class="caps">Tag</h3>
		<div class="dashedbox">
		</div>
	</div>
	<div class="span-6 last">
		<h3 class="caps">Archive</h3>
		<div class="dashedbox">
		</div>
	</div>
      <hr>
      <hr>
      <hr>
    </div>
  </body>
</html>
