{% extends "base.html" %}
{% block body %}
  <form action="{{ request.path }}" method="post" class="compose">
	  <spane>title:<input type="text" name="title" value="{{ entry.title if entry else "" }}" /></br></span>
		<textarea style="display:none" id = "markdown" name="markdown"> {{ entry.markdown if entry else "" }} </textarea>
		<textarea style="display:none" id="html" name="html">{{ entry.html if entry else "" }}</textarea>
	  {% module xsrf_form_html() %}
	  {% if entry %}
		<input type="hidden" name="id" value="{{ entry.id }}"/>
		{% end %}
	
  </form>
	<div id="epiceditor"></div>
	<input type="button" id="test" value="submit" />
<script type="text/javascript">
	var opts = {
		basePath:'../../static/epiceditor',
		textarea:'markdown',
		file: {
    		name: 'forgetwall',
    		defaultContent: '',
    		autoSave: 100
  		}
	}
	var editor = new EpicEditor(opts).load();
	
	document.getElementById("test").addEventListener("click",function(event){
		editor.preview();
		document.getElementById("markdown").value = editor.getFiles("forgetwall").content;
		document.getElementById("html").value=editor.getElement("previewer").body.innerHTML;
		document.forms[0].submit();
	});
</script>
{% end %}

{% block bottom %}
{% end %}

